.card {
  background-color: #fff;
}

.bg-foil {
    background-image: url(../assets/foil.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-marble-50 {
    background-image: url(../assets/marble.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-marble-100 {
    background-image: url(../assets/marble2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
